<form action="/todos/{{ todo._id }}?_method=put" method="post">
  <input type="checkbox" name="isDone" {{#if isDone}} checked {{/if}}>
  <input type="text" name="name" value="{{ todo.name }}" placeholder="name">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>