<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List With MongoDB</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <style>
    .banner {
        position: relative;
        z-index: -1;
        margin: -5px;
        height: 360px;
        background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
        background-size: cover;
        filter: blur(3px);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
        height="30" class="d-inline-block align-top" alt="我的餐廳清單">
      我的餐廳清單
    </a>
  </div>
</nav>
<div class="banner"></div>
  {{{ body }}}
  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>