<style>
    .restaurant-show-title {
        position: relative;
        top: -100px;
        color: white;
        text-align: center;
        font-size: 3rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
</style>
<h1 class="restaurant-show-title">{{ restaurant.name }}</h1>